*__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
data/runs/lsr
data/runs/main
data/runs/rerank
cache
archive
wandb/*

.env

runs/
scored/
gen/
gen
index/
data/
data

built-index/
built-index
augmented-data/
augmented-data

outputs/
outputs